### Production build output ###
/sofa.js

### Purescript ###
/output/
/generated-docs/
/.psc*
/.purs*
/.spago

### Emacs ###
.#*

### Direnv ###
/.envrc

### Parcel ###
/.parcel-cache
/dist

### Yarn ###
/node_modules/
/yarn-error.log