### Purescript ###
/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago

### Emacs ###
.#*

### Nix ###
/.spago2nix

### Parcel ###
/.parcel-cache
/dist

### Yarn ###
/yarn-error.log
