@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl my-5;
  }

  h2 {
    @apply text-xl my-5;
  }

  .sofa-small-title {
    @apply
      uppercase
      my-2
      text-sm
      text-gray-600;
  }

  .sofa-btn-tropical {
    @apply
      px-3
      py-2
      bg-tropical-500
      hover:bg-tropical-400
      active:bg-tropical-600
      disabled:bg-tropical-100
      text-snow-400
      shadow-sm
      rounded-md;
  }

  .sofa-btn-red-100 {
    @apply
      px-3
      py-2
      bg-red-200
      hover:bg-red-300
      active:bg-red-400
      disabled:bg-gray-100
      text-gray-700
      shadow-sm
      rounded-md;
  }

  .sofa-spinner {
      @apply inline-block border-4 border-sky-200 rounded-full animate-spin w-5 h-5;
      border-top-color: transparent;
  }
}
