@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-stormy-500;
  }

  h1 {
    @apply text-2xl my-5;
  }

  h2 {
    @apply text-xl my-5;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Regular.woff2") format('woff2'),
         url("fonts/Gilroy-Regular.woff") format('woff');
  }

  @font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-Bold.woff2") format('woff2'),
         url("fonts/Gilroy-Bold.woff") format('woff');
    font-weight: bold;
  }

  @font-face {
    font-family: "Gilroy";
    src: url("fonts/Gilroy-SemiBold.woff2") format('woff2'),
         url("fonts/Gilroy-SemiBold.woff") format('woff');
    font-weight: 600;
  }

  .sofa-small-title {
    @apply
      uppercase
      my-2
      text-sm
      text-gray-600;
  }

  .sofa-btn-tropical {
    @apply
      px-3
      py-2
      bg-tropical-500
      hover:bg-tropical-400
      active:bg-tropical-600
      disabled:bg-tropical-100
      text-snow-400
      shadow-sm
      rounded-md;
  }

  .sofa-btn-red-100 {
    @apply
      px-3
      py-2
      bg-red-200
      hover:bg-red-300
      active:bg-red-400
      disabled:bg-gray-100
      text-gray-700
      shadow-sm
      rounded-md;
  }

  .sofa-spinner {
    @apply inline-block border-4 border-sky-200 rounded-full animate-spin w-5 h-5;
      border-top-color: transparent;
  }

  /* Tooltip component classes. */
  .sofa-tooltip-text {
    @apply
      absolute
      text-xs
      px-2
      py-1
      w-max
      rounded-sm
      bg-snow-600;
  }

  .sofa-tooltip-arrow {
    @apply
      absolute
      border-[5px]
      border-solid
      border-transparent;
    content: " ";
  }

  .sofa-tooltip-group:hover .sofa-tooltip-group-hover\:opacity-100 {
    opacity: 1;
  }
}
