body {
    background-color: #fff;
}

input[disabled] {
    color: #555
}

input:valid {
    border-color: green;
}

input:invalid {
    color: red;
    border-color: red;
}

fieldset {
    border: 1px solid darkgray;
    padding: 0.5em;
    margin: 0.2em;
}

nav {
    position: static;
    padding: 0.5em 2vw;
    background-color: #eaeaea;
    border-bottom: 3px solid darkgray;
}

.content {
    margin: 0 2vw;
}

ul.blocklist, ul.blocklisthl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.blocklist li {
    padding: 0.2em 1vw;
}

ul.blocklisthl li, .hblock {
    background: rgba(0, 0, 0, 0.05);
    padding: 0.2em 1vw;
}

ul.pricelist {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.pricelist li {
    padding: 0;
}

dt {
    font-style: italic;
}

.tabbody {
    margin-top: 0;
    padding: 0.5em;
    border: 1px solid black;
}

.ordersection, .charge {
    border: 1px solid darkgray;
    border-radius: 4px;
    background: #f0f3fb;
    padding: 0.5em;
    margin: 0.5em;
    overflow: auto;
}

.addsection, .addorderline, .addorderlineconfig {
    width: 100%;
    background-color: transparent;
    color: #0074d9;
    margin: 0;
    padding: 0;
    font-size: larger;
}

.ordersection .close {
    float: right;
    font-size: 1.2em;
    padding: 0 .5em;
    cursor: pointer;
}

.orderline {
    border: 1px solid darkgray;
    border-radius: 4px;
    background: #d8e5f0;
    padding: 0.5em;
    margin: 0.5em;
}

.orderlineconfig {
    border: 1px solid darkgray;
    border-radius: 4px;
    background: #c3d3e1;
    padding: 0.5em;
    margin: 0.5em;
}

.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #444;
}

.sidemenu {
    padding: .5em;
}

.sidemenu .button {
    background-color: #eaeaea;
    color: black;
}

table.subtotal {
    margin-right: 0.5em;
    margin-left: auto;
    border-radius: 4px;
    overflow: hidden;
}

table.subtotal th {
    background-color: #94a1ac;
}
